<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pristine</title>
    <!-- custom css -->
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>

    <nav>
        <div class="navbar">
            <div class="brand">
                <a href="/">PRISTINE</a>
            </div>
            <ul>
                <% if(!currentUser) { %>
                <li>
                    <a href="/register">Register</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
                <% } else { %>
                <li>
                    <a href="#">Login as
                        <%= currentUser.username %></a>
                </li>
                <li>
                    <a href='/logout'>Logout</a>
                </li>
                <% } %>
            </ul>
        </div>
    </nav>

    <% if (error && error.length > 0) { %>
    <div class="flash error">
        <%= error %>
    </div>
    <% } %>
    <% if (success && success.length > 0) { %>
    <div class="flash success">
        <%= success %>
    </div>
    <% } %>