<% include partials/header %>

<form action="/forgot" method="POST">
    <label>email</label>
    <input type="email" name='email' placeholder="Enter youe email">
    <button>Submit</button>
</form>

<% include partials/footer %>
