<h2>This is the login page</h2>
<form action="#">
    <label for="">Username</label>
    <input type="text" name="username">

    <label for="">Password</label>
    <input type="password" name="password">
</form>