<h2>This is the login page</h2>
<form action="/login" method="POST">
    <label for="">Username</label>
    <input type="text" name="username">

    <label for="">Password</label>
    <input type="password" name="password">

    <button>Submit</button>
</form>

<li>
    <a href="/register">Register</a>
</li>
<li>
    <a href="/login">Login</a>
</li>
<li>
    <a href="logout">Logout</a>
</li>