<% include partials/header %>

<form action="/login" method="POST" class="login-box">
    <h1>Login Here</h1>
    <label>Username</label>
    <input type="text" name='username' placeholder="Enter Username">
    <label>Password</label>
    <input type="password" name='password' placeholder="Enter Password">
    <input type="submit" value="Login">
     <a href="/forgot">Lost your password?</a>
    <a href="/register">Don't have an account yet?</a>
    <hr>
    <a href="/auth/google">Login with Google</a>
    <a href="/auth/facebook">Login with Facebook</a>
    <!-- <a href="/register">Login with Twitter</a> -->
</form>

<% include partials/footer %>
