<%- include("partials/header") %>

    <form action="/verify" method='POST'>
        <div class="left-box">
            <h1>Enter Secret Token</h1>
            <input type="text" name='secretToken' placeholder="Enter the secret token">
            <input type="submit" value="Submit">
        </div>

        
    </form>

    <%- include("partials/footer") %>